/*Global Class */
*{
    margin: 0;
    padding:0;
    outline:0 ;
    border: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
   
 background-size: cover;
 background repeat: no-repeat;
}
/*layout Style*/
.container{
    width: 90%;
    margin: auto;
}
.col-1 {
    width: 8.33%;
    float: left;
}
.col-2 {
    width: 16.66%;
    float: left;
}
.col-3 {
    width: 25%;
    float: left;
}
.col-4 {
    width: 33.33%;
    float: left;
}
.col-5 {
    width: 41.66%;
    float: left;
}
.col-6 {
    width: 50%;
    float: left;
}
.col-7 {
    width: 58.33%;
    float: left;
}
.col-8 {
    width: 66.66%;
    float: left;
}
.col-9 {
    width: 75%;
    float: left;
}
.col-10 {
    width: 83.33%;
    float: left;
}
.col-11 {
    width: 91.66%;
    float: left;
}
.col-12,.row {
    width: 100%;
    float: left;
}
 /* ========= Header=========*/
 header{
 background: url(../img/herobg.png);
 background-size: cover;
 background repeat: no-repeat;
 background position: center;
 
 }
 nav{
 padding: 20px 0px;
 }
 .logo-part img{

 }
 .menu-part{
 text-align: end;
 color: #fff;
 }
 .menu-part li{
  display: inline-block;
  padding: 10px;
 }
 .menu-part li a{
  text-decoration: none;
  color:white;
  font-size: 18px;
  font-weight: 600;
  padding: 10px;
  transition: ease-in-out 0.4s;
 }
 .menu-part li a:hover{
  background-color: rgba(255,255,255,0.52);
  border-radius: 5px;
 }
 .hero-part{
 text-align: center;
 color: #fff;
 padding-top: 75px;
 }
 .hero-part h1{
  font-size: 50px;
 }
 .hero-part p{
  font-size: 16px;
  margin-top: 25px;
 }
 .hero-btn-part button{
  background: transparent;
  border: 1px solid;
  padding: 10px 15px;
  color: #fff;
  border-radius: 5px;
  margin: 25px 0px;
  width: 150px;
 }
 .btn-light{
  background: #fff !important;
  color: #000 !important;
  border: 1px solid #fff!important;
}
/* Info section */
#info{
 padding: 200px 0px 150px;
 background: url(../img/info-bg.png) no-repeat;
 background-size: cover;
 margin-top: -185px;
}
.info-box-part{
    text-align: center;
    
}
.info-image-part{
    text-align: center;
   
}
h1{
    text-align: center;
}
h3{
  color: #000;  
 padding-bottom: 20px;
}

#stable{
    margin: 50px;
    padding: 50px 80px;
}
.box-part1{
    width: 250px;
    height: 300px;
    padding: 1px 0px;
    border-radius:5px;
    box-shadow: 0px 0px 5px gray;
    margin:-40px 0px;
        }
.box-part2{
    width: 250px;
    height: 300px;
    padding: 5px 0px;
    border-radius:5px;
    box-shadow: 0px 0px 5px gray;
    margin:1px 35px;
    }
.box-part3{
    width: 250px;
    height: 300px;
padding: 1px 0px;
border-radius:5px;
box-shadow: 0px 0px 5px gray;
margin:5px 0px;
 }
.box-part4{
    width: 250px;
    height: 300px;
    padding: 5px 0px;
    border-radius:5px;
    box-shadow: 0px 0px 5px gray;
    margin:80px 50px;
        }
.row-box{
    width: 600px;
    height: 80px;
   padding: 1px 0px;
   margin-top: 10px;
   margin-bottom: 10px;
    border-radius:5px;
    border-radius:5px;
    box-shadow: -5px 1px 5px gray;
        }

 .btn-download{
    width: 180px;
    height: 50px;
   padding-left: 10px;
   background-color: #47c3fa!important;
   margin-left:280px;
   padding-top: 15px;
   border-radius: 5px;
 }  




.use-box{
    width: 600px;
    height: 160px;
    background: transparent;
    background-color: #33d2fd;
    padding: 1px px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius:5px;
    border-radius:5px;
    text-decoration: none;
    color:white;
    font-weight: 600;
    box-shadow: 0px 0px 5px gray;
}
#app{
    margin: 50px;
    padding: 50px 80px;
    background: transparent;
    background-color: #33d2fd;  
}
.btn-mobile{
    width: 200px;
    height: 60px;
   padding-left: 10px;
   background-color: #fb5c7f!important;
   margin-left:100px;
   padding-top: 20px;
   }
   
   .banner-column{
    margin: auto;
    text-align: center;
   }
   #company{
    margin: 80px 80px;
   }
   
   .btn-count{
    width: 200px;
    height: 60px;
   padding-left: 10px;
   background-color: #47c3fa!important;
   margin-left:100px;
   padding-top: 20px;
   }
  .get{
   margin-top: 80px;
   margin-left: 400px;
   width: 600px;
   height: 100px;
  }
  
  .get-mobile{
    margin-top:-130px;
    margin-left:250px;
   padding-top: 50px;
   text-align: center;
   }
   .count-btn{
    margin-top: 50px;
    margin-left:850px;
   padding-top: 20px;
   }
   
   #footer{
    width: 100%;
    float: left;
    background-color: #393357;
    height: 100px;
    }
    .li p{
    font-color:white!important;
    margin-left: 100px;
    }
   
    .icon li{
    padding: 15px;
    display: inline-block;
   }
